* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

.imagen { float: right;}
.imagen { float: left;}

.linea:after {
  content: "";
  display: table;
  clear: both;
  border: thin solid black;
}

.imagen {
  width: 35%;
  float: left; /* también con display: inline;*/
border: thin solid black;
}
.imagen1{
  width: 50%;
  float: left; /* también con display: inline;*/
border: thin solid black;
}
/* texto normal*/
.resumen{
  width: 65%;
  float: left; /* también con display: inline;*/
  padding: 8em;
  background-color:DeepSkyBlue;

}
/* texto con menos padding*/
.resumen1{
  width: 65%;
  float: left; /* también con display: inline;*/
  text-align: center;
  padding: 4em;
  background-color:DeepSkyBlue;
}

/* 2 imagenes en paralelo*/
.resumen2{
  width: 50%;
  float: left; /* también con display: inline;*/
  text-align: center;
  padding: 2em;
  background-color:DeepSkyBlue;
}
/* imagenes centradas con mucho padding*/
.resumen3{
  width: 50%;
  float: left; /* también con display: inline;*/
  text-align: center;
  padding: 8em;
  background-color:DeepSkyBlue;
}

/* imagen completa*/

.resumen4{
  width: 100%;
  float: left; /* también con display: inline;*/
  text-align: center;
  padding: 5em;
  background-color:DeepSkyBlue;
}
/* version 2 del resumen 3;*/
.resumen5{
  width: 50%;
  float: left; /* también con display: inline;*/
  text-align: center;
  padding: 12.65em;
  background-color:DeepSkyBlue;
}
/* version 2 del resumen1;*/
.resumen6{
  width: 65%;
  float: left; /* también con display: inline;*/
  text-align: center;
  padding: 9em;
  background-color:DeepSkyBlue;
}

.menu{
  border: thin solid black;
  width: 33.3333%;
  text-align: center;
  float: left; /* también con display: inline;*/
  background-color: DeepSkyBlue ;
}


.parte{
  border: thin solid black;
  width: 33.333333%;
  text-align: center;
  float: left; /* también con display: inline;*/
  background-color:DeepSkyBlue;
}
.menurapido{
  margin: 0;
  width: 33.33333%;
  float: left;
  text-align: center;
  font-size: 150%;
  background-color: MediumSpringGreen;
  padding: 5px;
  border: thin solid black;
}
.menurapido:hover{
  background-color:DarkGreen;
}
